<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
<body>
  
  <!-- come up with better names for all the actions -->
  <a href="/courses">courses</a>

  <% if (locals.canvasAuth) { %>
    <form action="/canvas_unauth" method="POST">
      <button type="submit">Unauthorize Canvas</button>
    </form>
  <% } else { %>
    <form action="/canvas" method="POST">
      <label for="proxy">Proxy: </label>
      <input required type="text" id="proxy" name="proxy" value="cors-anywhere.herokuapp.com">
      <label for="token">Token: </label>
      <input required type="text" id="token" name="token">
      <button type="submit">Authorize Canvas</button>
    </form>
  <% } %>
  
  <% if (locals.classroomAuth) { %>
    <form action="/classroom_unauth" method="POST">
      <button type="submit">Unauthorize Classroom</button>
    </form>
  <% } else { %>
    <form action="/authtest" method="POST">
      <button type="submit">Authorize Classroom</button>
    </form>
  <% } %>

</body>
</html>